/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Avenir Next', sans-serif;
    background-color: #FAF1E4;
    color: #435334;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
.bio {
    text-align:left;
}

h1, h2 {
    margin-bottom: 1rem;
}

/* Header styles */
header {
    background-color: #9EB384;
    color: #FAF1E4;
    padding: 2rem 0;
}

/* Main content styles */
main {
    background-color: #CEDEBD;
    padding: 2rem;
    border-radius: 5px;
    margin-top: 2rem;
}

/* Button styles */
.button {
    display: block;
    background-color: #9EB384;
    color: #FAF1E4;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 1rem auto;
    max-width: 200px;
}

.button:hover {
    background-color: #435334;
}

/* Socials links styles */

.social {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.social-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000080;
  color: #FAF1E4;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.social-button:hover {
  background-color: #435334;
}

.social-button i {
  font-size: 24px;
}

/* Responsive design */
@media (max-width: 600px) {
    .container {
        padding: 1rem;
    }
    
    main {
        padding: 1rem;
    }
}
